.left {
    width: 49.5%;
    float: left;
    margin-right: 0.5%;
}

.right {
    width: 49.5%;
    float: right;
    margin-left: 0.5%;
}

ul.templates {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.templates li {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: #EEEEEE;
}

ul.templates li:hover {
    background-color: rgba(100, 149, 237, 0.9);
    color: #EEEEEE;
}

ul.templates li:active {
    background-color: rgba(100, 149, 237, 0.3);
    color: #EEEEEE;
}

.templatesSegment,
.uploadSegment,
.messagesSegment {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: rgba(211, 211, 211, 0.2);
}

.uploadSegment {
    margin-top: 2.5%;
}

#messageForm {
    width: 100%;
    min-height: 320px;
}

.form-group {
    width: calc(100% - 10px);
}

textarea {
    resize: none;
    margin-top: 5px;
    margin-bottom: 2%;
}

input {
    margin-top: 5px;
    margin-bottom: 2%;
    width: 100%;
}

#taMessage {
    width: 100%;
    min-height: 170px;
}

.submitBtn {
    float: right;
    min-width: 80px;
    background-color: green;
    color: white;
    border: 1px solid lawngreen;
    border-radius: 5px;
    min-height: 30px;
}

.submitBtn,
input[type=file]::file-selector-button {
    min-width: 80px;
    background-color: #1976D2;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    min-height: 30px;
    margin-top: 10px;
}

.submitBtn:hover,
input[type=file]::file-selector-button:hover {
    background-color: rgba(100, 149, 237, 0.9);
    color: #EEEEEE;
}

.submitBtn:active,
input[type=file]::file-selector-button:active {
    background-color: rgba(100, 149, 237, 0.3);
    color: #EEEEEE;
}

.submitBtn {
    float: right;
}